.container {
  width: 960px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
  border: 1px solid #ccc;
}
.menu {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
  width: 960px;
  height: 50px;
  border: 1px solid #ccc;
}
.minibl {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 0px;
  margin-left: 10px;
  width:50px;
  height:40px;
  border: 1px solid #ccc;
  display: inline-block;
}
.text {
  width:500px;
  border: 1px solid #ccc;
  display: inline-block;
  padding-top: 50px;
  padding-bottom: 50px;
}
.block4 {
  width:246px;
  border: 1px solid #ccc;
  display: inline-block;
}
.logo1 {
  width:200px;
  height: 100px;
  border: 1px solid #ccc;
  display: inline-block;
  }
.logo2 {
  width:752px;
  height: 100px;
  border: 1px solid #ccc;
  display: inline-block;
}
.statya {
  width:500px;
  border: 1px solid #ccc;
  display: inline-block;
}
.contstatya {
	margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 150px;
  margin-left: 80px;
  width:500px;
  border: 1px solid #ccc;
  display: inline-block;
}
.wrapper{
  width: 960px;
  border: 1px solid #ccc;
}